body {
    background: rgba(250, 248, 248, 0);
}
#https://static.preparaenem.com/conteudo_legenda/50373715d8a206fbb5acce3774e03a06.jpg{
    width: 100%;
}
h1{
    color: rgb(10, 10, 10)  
}
p{
    color: rgb(8, 8, 8);
}